<!-- Start of contacts section -->
<section id="contacts" class="contacts">
    <div class="contacts-container contacts-cont">
        <div class="contacts-title">Fresh Harvest Box has got you covered</div>
        <div class="contacts-images">
            <img class="contacts-picture" src="images/melon-mobile.webp" alt="Melon" loading="lazy" srcset="images/melon-mobile.webp 335w, images/melon-mobile@2x.webp 670w, images/melon-tablet.webp 344w, images/melon-tablet@2x.webp 688w, images/melon-desktop.webp 792w, images/melon-desktop@2x.webp 1584w" sizes="(min-width: 1280px) 792px,
    (min-width: 768px) 344px,
    (min-width: 375px) 335px"/>
            <img class="contacts-picture none" src="images/blueberry-tablet.webp" alt="Blueberry" loading="lazy" srcset="images/blueberry-tablet.webp 344w, images/blueberry-tablet@2x.webp 688w, images/blueberry-desktop.webp 400w, images/blueberry-desktop@2x.webp 800w" sizes="(min-width: 1280px) 400px,
  (min-width: 768px) 344px"/>
        </div>
        <div class="contacts-bottom">
            <p class="contacts-text">Our boxes are packed with delicious, nutritious fruits and vegetables,
perfect for anyone looking to eat healthier or support local farmers.
Order your box today and start enjoying the best that nature has to
offer!
</p>
            <form class="contacts-form">
                <label class="">
                    <input class="contacts-input" type="email" name="E-mail" placeholder="Enter email..." required minlength="3"/>
                    <button class="contacts-btn-send" type="submit">Send</button>
                </label>
            </form>
        </div>
    </div>
</section>