<footer id="contacts">
  <div class="footer-container container">
    <div class="img-logo">
      <img
        class="img-logo-footer"
        src="images/logo-footer.webp"
        alt="Footer Logo"
        loading="lazy"
        srcset="
          images/logo-footer-tablet.webp    344w,
          images/logo-footer-tabletx2.webp  688w,
          images/logo-footer-desktop.webp   400w,
          images/logo-footer-desktopx2.webp 800w
        "
        sizes="(min-width: 1280px) 400px,
        (min-width: 768px) 344px"
      />

      <div class="fresh-harvest-box-logo">
        <a class="fhb-logo-link" href="../index.html"
          ><svg class="fhb-logo-svg" width="16" height="16">
            <use href="images/fresh-harvest-box.svg"></use>
          </svg>
          "fresh harvest box"</a
        >
      </div>
    </div>
    <ul class="footer-nav">
      <li class="footer-nav-item">
        <a href="#how-it-works" class="nav-link">How It Works</a>
      </li>
      <li class="footer-nav-item">
        <a href="#fruits" class="nav-link">Fruits</a>
      </li>
      <li class="footer-nav-item">
        <a href="#contacts" class="nav-link">Contacts</a>
      </li>
    </ul>
    <div class="footer-address">
      <ul class="social-apps">
        <li class="social-item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            aria-label="facebook"
            rel="noopener noreferrer"
            class="social-link"
          >
            <svg class="social-icon" width="24" height="24">
              <use href="icons.svg/fb.webp" alt="Facebook Icon"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            aria-label="instagram"
            rel="noopener noreferrer"
            class="social-link"
          >
            <svg class="social-icon" width="24" height="24">
              <use href="icons.svg/insta.webp" alt="Insta Icon"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            href="https://www.youtube.com/"
            target="_blank"
            aria-label="youtube"
            rel="noopener noreferrer"
            class="social-link"
          >
            <svg class="social-icon" width="24" height="24">
              <use href="icons.svg/ytb.webp" alt="Youtube Icon"></use>
            </svg>
          </a>
        </li>
      </ul>
      <address class="address">
        <ul class="address-list">
          <li class="address-item">
            <a href="tel:+380684429426" class="address-item-link"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="address-item">
            <a
              href="https://www.google.com/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+%D0%A1%D0%A8%D0%90/"
              target="_blank"
              class="address-item-link"
              >1678 S. Pioneer Road Salt Lake City UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
