<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- de organizat ordinea corecta  -->
    <div class="hero-container">
        <h1 class="title">fresh harvest box
            is your one-stop place for a delicious fruit basket
        </h1>

        <!-- add img  -->
        <img class="img-first-fruit" src="" alt="">

        <!-- add img  -->
        <img class="img-fruit" src="" alt="">

        <div class="img-hero">
            <!-- add img  -->
            <img src="" alt="">

        </div>
        <button class="shop-now">shopnow</button>


        <p class="info-paragraph">
            Our expertly curated fruit baskets are made with the freshest, highest quality fruits available. Whether you
            are looking for a healthy snack or a gift for a loved one, Fresh Harvest Box has got you covered.
        </p>

        <div class="blocks-watermelon">
            <h4>Fruit</h4>
            <!-- add img  -->
            <img src="" alt="">
            <p>Refreshing and juicy, watermelon is the perfect summer treat and a great source of hydration</p>
        </div>

        <div class="blocks-strawberries">
            <h4>Fruit</h4>
            <img src="" alt="">
            <p>Sweet and juicy, strawberries are packed with vitamin C and antioxidants, making them a delicious and
                healthy snack</p>
        </div>

        <!-- modificare semn "#" -->
        <div class="section-blocks-hero">
            <button class="btn-hero">#hrganic</button>
            <button class="btn-hero">#products</button>
            <button class="btn-hero">#basket</button>
            <button class="btn-hero">#fruits</button>
        </div>

    </div>
</body>

</html>