<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/src/css/hero.css">
</head>

<body>
    <section class="hero">
        <div class="container-hero">
            <div class="blocks-watermelon">
                <p class="info-paragraph-hero">
                    Our expertly curated fruit baskets are made with the freshest, highest quality fruits available.
                    Whether
                    you
                    are looking for a healthy snack or a gift for a loved one, Fresh Harvest Box has got you covered.
                </p>
                <div class="watermelon-box-hero">
                    <p class="blocks-title">Fruit</p>
                    <div class="photo-watermelon">
                        <picture class="img-box-watermelon">
                            <source srcset="../images/img-destop-pepene-rosu.jpg" media="(min-width: 1158px)">
                            <source srcset="../images/img-tablet-pepene-rosu.jpg" media="(min-width: 768px)">
                            <img src="../images/img-mobile-pepene-rosu.jpg" alt="fruit-watermelon">
                        </picture>
                    </div>
                    <p class="watermelon-description">Refreshing and juicy, watermelon is the perfect summer treat and a
                        great source of hydration</p>
                </div>
            </div>
            <div class="hero-container-center">
                <div class="hero-title-bloks">
                    <h1 class="hero-title">fresh harvest box <br /> is your one-stop place for a delicious fruit basket
                    </h1>
                </div>

                <div class="hero-box-img">
                    <img class="hero-orange"
                        srcset="/html_bc-55_SuperStasss/assets/hero-girl-mob-5fb84530.webp 311w, /html_bc-55_SuperStasss/assets/hero-girl-mob@2x-3f3cd006.webp 622w, /html_bc-55_SuperStasss/assets/hero-girl-tablet-753f529f.webp 452w, /html_bc-55_SuperStasss/assets/hero-girl-tablet@2x-93717616.webp 904w"
                        sizes="(min-width: 768px) 452px, 311px"
                        src="/html_bc-55_SuperStasss/assets/hero-girl-mob-5fb84530.webp"
                        alt="The girl holds an orange in her hand" />
                    <a class="hero-link" href="#fruits">
                        shop<br />now
                    </a>
                </div>
            </div>
            <div class="blocks-strawberries">
                <ul class="hashtags-list">
                    <li class="hashtags-item">
                        <h3 class="text-hashtag">#organic</h3>
                    </li>
                    <li class="hashtags-item">
                        <h3 class="text-hashtag">#products</h3>
                    </li>
                    <li class="hashtags-item">
                        <h3 class="text-hashtag">#basket</h3>
                    </li>
                    <li class="hashtags-item">
                        <h3 class="text-hashtag">#fruits</h3>
                    </li>
                </ul>
                <div class="bloks-strawberry-hero">
                    <p class="blocks-title">Fruit</p>
                    <div class="photo-strawberries">
                        <picture class="img-box-strawberries">
                            <source srcset="../images/img-destop-cos-capsuni.jpg" media="(min-width: 1158px)">
                            <source srcset="../images/img-tablet-cos-capsuni.jpg" media="(min-width: 768px)">
                            <img src="../images/img-mobile-cos-capsuni.jpg" alt="fruit-watermelon">
                        </picture>
                    </div>
                    <p class="strawberries-description">Sweet and juicy, strawberries are packed with vitamin C and
                        antioxidants, making them a delicious and
                        healthy snack</p>
                </div>
            </div>
        </div>
    </section>

</body>

</html>