<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/src/css/hero.css">
</head>

<body>
    <!-- de organizat ordinea corecta  -->
    <div class="hero-container">
        <h1 class="title">fresh harvest box
            is your one-stop place for a delicious fruit basket
        </h1>
        <div class="thumb">
            <picture>
                <source srcset="../images/img-destop-banane.jpg" media="(min-width: 1158px)">
                <source srcset="../images/img-tablet-banane.jpg" media="(min-width: 768px)">
                <img src="../images/img-mobile-banane.jpg" alt="fruit-Banana">
            </picture>
        </div>

        <div class="thumb">
            <picture>
                <source srcset="../images/img-destop-capsuni.jpg" media="(min-width: 1158px)">
                <source srcset="../images/img-tablet-capsuni.jpg" media="(min-width: 768px)">
                <img src="../images/img-mobile-capsuni.jpg" alt="fruit-strawberries">
            </picture>
        </div>

        <div>

            <picture>
                <svg xmlns="http://www.w3.org/2000/svg" width="486" height="742" viewBox="0 0 486 742" fill="none">
                    <mask id="path-1-inside-1_5503_35" fill="white">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M485 499V243C485 109.347 376.653 1 243 1C109.347 1 1 109.347 1 243V499C1 632.653 109.347 741 243 741C376.653 741 485 632.653 485 499ZM243 0C108.795 0 0 108.795 0 243V499C0 633.205 108.795 742 243 742C377.205 742 486 633.205 486 499V243C486 108.795 377.205 0 243 0Z" />
                    </mask>
                    <path
                        d="M486 499V243H484V499H486ZM486 243C486 108.795 377.205 0 243 0V2C376.101 2 484 109.899 484 243H486ZM243 0C108.795 0 0 108.795 0 243H2C2 109.899 109.899 2 243 2V0ZM0 243V499H2V243H0ZM0 499C0 633.205 108.795 742 243 742V740C109.899 740 2 632.101 2 499H0ZM243 742C377.205 742 486 633.205 486 499H484C484 632.101 376.101 740 243 740V742ZM243 -1C108.243 -1 -1 108.243 -1 243H1C1 109.347 109.347 1 243 1V-1ZM-1 243V499H1V243H-1ZM-1 499C-1 633.757 108.243 743 243 743V741C109.347 741 1 632.653 1 499H-1ZM243 743C377.757 743 487 633.757 487 499H485C485 632.653 376.653 741 243 741V743ZM487 499V243H485V499H487ZM487 243C487 108.243 377.757 -1 243 -1V1C376.653 1 485 109.347 485 243H487Z"
                        fill="url(#paint0_linear_5503_35)" mask="url(#path-1-inside-1_5503_35)" />
                    <defs>
                        <linearGradient id="paint0_linear_5503_35" x1="258" y1="755" x2="257" y2="171"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="white" />
                            <stop offset="0.411317" stop-color="white" stop-opacity="0.441769" />
                            <stop offset="1" stop-color="white" stop-opacity="0" />
                        </linearGradient>
                    </defs>
                </svg>
                <source srcset="../images/img-hero-destop.jpg" media="(min-width: 1158px)">
                <img class="img-hero" src="../images/img-hero-mobile.jpg"
                    alt="young-energetic-red-haired-woman-white-t-shirt-holding-tasty-oranges-pink-background ">
            </picture>
        </div>
        <button class="shop-now">shopnow</button>


        <p class="info-paragraph">
            Our expertly curated fruit baskets are made with the freshest, highest quality fruits available. Whether you
            are looking for a healthy snack or a gift for a loved one, Fresh Harvest Box has got you covered.
        </p>

        <div class="blocks-watermelon">
            <h4>Fruit</h4>
            <picture>
                <source srcset="../images/img-destop-pepene-rosu.jpg" media="(min-width: 1158px)">
                <source srcset="../images/img-tablet-pepene-rosu.jpg" media="(min-width: 768px)">
                <img src="../images/img-mobile-pepene-rosu.jpg" alt="fruit-watermelon">
            </picture>
            <p>Refreshing and juicy, watermelon is the perfect summer treat and a great source of hydration</p>
        </div>

        <div class="blocks-strawberries">
            <h4>Fruit</h4>
            <picture>
                <source srcset="../images/img-destop-cos-capsuni.jpg" media="(min-width: 1158px)">
                <source srcset="../images/img-tablet-cos-capsuni.jpg" media="(min-width: 768px)">
                <img src="../images/img-mobile-cos-capsuni.jpg" alt="fruit-watermelon">
            </picture>
            <p>Sweet and juicy, strawberries are packed with vitamin C and antioxidants, making them a delicious and
                healthy snack</p>
        </div>

        <!-- modificare semn "#" -->
        <div class="section-blocks-hero">
            <button class="btn-hero">#hrganic</button>
            <button class="btn-hero">#products</button>
            <button class="btn-hero">#basket</button>
            <button class="btn-hero">#fruits</button>
        </div>

    </div>
</body>

</html>