<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fresh Harvest Box</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/yourorder.css">
</head>
<body>
  <div class="thank-you-modal popup-is-hidden">
    <div class="thank-you-content">
      <button class="modal-popup-close-btn">&times;
      </button>

      <picture class="thank-you-img">
        <source media="(min-width: 1280px)"
          srcset="">
        <source media="(min-width: 768px)"
          srcset="">
        <source media="(min-width: 375px)"
          srcset="">
        <img src="" alt="">
      </picture>

      <span class="thank-you-modal-title">THANK YOU</span>
      <p class="thank-you-modal-text">
        Thank you for your order! Our team is preparing your box with fresh, delicious
        fruits and vegetables, and we'll deliver it straight to your doorstep. We
        appreciate your business and look forward to providing you with the best
        possible experience!
      </p>
    </div>
  </div>
</body>
</html>
