<!---------------------ThankYou ~ Modal Window-------------------------->

  <div class="popup-modal popup-is-hidden" data-popup-modal>
    <div class="thank-you-content">
      <button class="modal-popup-close-btn" data-popup-modal-close>
        <svg class="btn-popup-svg" width="24" height="24">
            <use href="images/modals-icons.svg#icon-close"></use>
        </svg>
      </button>

      <picture class="thank-you-img">
        <source media="(min-width: 1280px)"
          srcset="
            images/modals-raspberry.png 1x,
            images/modals-raspberry-2x.png 2x">
        <source media="(min-width: 768px)"
          srcset="
            images/modals-raspberry-t.png 1x,
            images/modals-raspberry-t-2x.png 2x">
        <source media="(min-width: 375px)"
          srcset="
            images/modals-raspberry-m.png 1x,
            images/modals-raspberry-m-2x.png 2x">
        <img src="images/modals-raspberry-m.png" alt="Rasberry">
      </picture>

        <span class="thank-you-modal-title">THANK YOU</span>
      <p class="thank-you-modal-text">
        Thank you for your order! Our team is preparing your box with fresh, delicious
        fruits and vegetables, and we'll deliver it straight to your doorstep. We
        appreciate your business and look forward to providing you with the best
        possible experience!
      </p>
    </div>
  </div>
  <script>
    (() => {
      const refs = {
        openModalBtn: document.querySelector('[data-popup-modal-open]'),
        closeModalBtn: document.querySelector('[data-popup-modal-close]'),
        modal: document.querySelector('[data-popup-modal]'),
        form: document.querySelector('.contacts-form'),
      };

      refs.closeModalBtn.addEventListener('click', toggleModal);

      function toggleModal() {
        refs.modal.classList.toggle('popup-is-hidden');
      }
      refs.form.addEventListener('submit', popup => {
        refs.modal.classList.toggle('popup-is-hidden');
        popup.preventDefault();
      });
    })();
  </script>

