  <!---------------------Order ~ Modal Window-------------------------->

    <div class="order-modal is-hidden" data-modal>
      <div class="modal-content">
        <button type="submit" class="modal-close-btn js-close-modal" data-modal-close>
          <svg class="close-btn-svg" width="24" height="24">
            <use href="images/modals-icons.svg#icon-close"></use>
          </svg>
        </button>
        <span class="order-modal-title">Your Order</span>

        <form class="form-info">
          <fieldset class="fruits-order-cards">
            <div class="fruits-order-container">
                <input
                type="checkbox" name="basket-selection"
                class="fruits-order-selection visually-hidden" id="strawberry-option">

              <label for="strawberry-option" class="strawberry-basket-card card-layout">
                <span class="basket-checked">
                  <svg class="basket-icon-checked" width="6" height="6">
                    <use href="images/modals-icons.svg#icon-modals-check"></use>
                  </svg>
                </span>
                <span class="order-cards-text">
                  <span class="order-cards-title">Strawberry Basket</span>
                  <span class="order-cards-subtitle">Fruit</span>
                </span>

                <picture class="fruits-order-img">
                  <source media="(min-width: 1280px)"
                    srcset="
                      images/modals-strawberry-basket.png 1x,
                      images/modals-strawberry-basket-2x.png 2x">
                  <source media="(min-width: 768px)"
                    srcset="
                      images/modals-strawberry-basket-t.png 1x,
                      images/modals-strawberry-basket-t-2x.png 2x">
                  <source media="(min-width: 375px)"
                    srcset="
                      images/modals-strawberry-basket-m.png 1x,
                      images/modals-strawberry-basket-m-2x.png 2x">
                  <img src="images/modals-strawberry-basket-m.png" alt="Strawberry Basket">
                </picture>
              </label>
            </div>

            <div class="fruits-order-container">
                <input
                type="checkbox" name="basket-selection"
                class="fruits-order-selection visually-hidden" id="apple-option">

              <label for="apple-option" class="apple-basket-card card-layout select-option">
                <span class="basket-checked">
                  <svg class="basket-icon-checked" width="6" height="6">
                    <use href="images/modals-icons.svg#icon-modals-check"></use>
                  </svg>
                </span>
                <span class="order-cards-text">
                  <span class="order-cards-title">Apple Basket</span>
                  <span class="order-cards-subtitle">Fruit</span>
                </span>

                <picture class="fruits-order-img">
                  <source media="(min-width: 1280px)"
                    srcset="
                      images/modals-apple-basket.png 1x,
                      images/modals-apple-basket-2x.png 2x">
                  <source media="(min-width: 768px)"
                    srcset="
                      images/modals-apple-basket-t.png 1x,
                      images/modals-apple-basket-t-2x.png 2x">
                  <source media="(min-width: 375px)"
                    srcset="
                      images/modals-apple-basket-m.png 1x,
                      images/modals-apple-basket-m-2x.png 2x">
                  <img src="images/modals-apple-basket-m.png" alt="Apple Basket">
                </picture>
              </label>
            </div>

            <div class="fruits-order-container">
                <input
                type="checkbox" name="basket-selection"
                class="fruits-order-selection visually-hidden" id="fruits-option">

              <label for="fruits-option" class="fruits-basket-card card-layout select-option">
                <span class="basket-checked">
                  <svg class="basket-icon-checked" width="6" height="6">
                    <use href="images/modals-icons.svg#icon-modals-check"></use>
                  </svg>
                </span>
                <span class="order-cards-text">
                  <span class="order-cards-title">Fruits Basket</span>
                  <span class="order-cards-subtitle">Fruit</span>
                </span>

                <picture class="fruits-order-img">
                  <source media="(min-width: 1280px)"
                    srcset="
                      images/modals-fruits-basket.png 1x,
                      images/modals-fruits-basket-2x.png 2x">
                  <source media="(min-width: 768px)"
                    srcset="
                      images/modals-fruits-basket-t.png 1x,
                      images/modals-fruits-basket-t-2x.png 2x">
                  <source media="(min-width: 375px)"
                    srcset="
                      images/modals-fruits-basket-m.png 1x,
                      images/modals-fruits-basket-m-2x.png 2x">
                  <img src="images/modals-fruits-basket-m.png" alt="Fruits Basket">
                </picture>
              </label>
            </div>
          </fieldset>

          <fieldset class="order-info-fields">
            <label class="modal-form-field">
              <input
                type="text" name="user-name"
                class="modal-input-form" placeholder="Enter full name..."
                minlength="3" required>
            </label>

            <label class="modal-form-field">
              <input
                type="email" name="user-mail"
                class="modal-input-form" placeholder="Enter email..."
                required>
            </label>

            <label class="modal-form-field">
              <input
                type="tel" name="card-number"
                class="modal-input-form" placeholder="Enter card.."
                pattern="[0-9\s]{13,16}" maxlength="16"
                required>
            </label>

            <label class="modal-form-field modal-comment-layout">
              <textarea
                name="user-comment" class="modal-input-form modal-form-comment"
                placeholder="Enter comments..."
                ></textarea>
            </label>

            <button type="submit" class="modal-submit-btn">Submit</button>
          </fieldset>
        </form>
      </div>
    </div>
  <script>
    (() => {
      const refs = {
        openModalBtn: document.querySelector('[data-modal-open]'),
        closeModalBtn: document.querySelector('[data-modal-close]'),
        modal: document.querySelector('[data-modal]'),
      };

      refs.openModalBtn.addEventListener('click', toggleModal);
      refs.closeModalBtn.addEventListener('click', toggleModal);

      function toggleModal() {
        refs.modal.classList.toggle('is-hidden');
      }
    })();
  </script>

